<section class="todoapp">
    <header class="header">
      <h1>Todo Liste</h1>
      <input class="new-todo" placeholder="Watcha gonna do?" autofocus [(ngModel)]="newTodo" (keyup.enter)="addTodo()">
    </header>
    <section class="main" *ngIf="todos?.length > 0">
      <ul class="todo-list">
        <li *ngFor="let todo of todos" [class.completed]="todo.complete">
          <app-item [todo]="todo"
          (complete)="toggleTodoComplete($event)"
          (remove)="removeTodo($event)"
          ></app-item>
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="todos?.length > 0">
      <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
</section>